@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

body {
	margin: 0;
	padding: 0;	
	font-family: 'Playfair Display SC', serif;
}

h2 {
	margin: 0;
	font-size: 30px;
	color: #f2eaea;
}

#menu {
	width: 100%;
	margin: 0;
	height: 45px;
	border: 2px solid black;
	background-color: black;
}

#logo {
	float: left;
	padding: 0 0 0 10px;
	height: 40px;
}

#buttonDiv{
	float: right;
}

#runButton{	
	height: 45px;
	width: 100px;
	border: 0px;
	background-color: #ffffff;
	font-size: 20px;
	font-family: 'Playfair Display SC', serif;
}

#runButton:hover {
	background-color: #000000;
	color: #ffffff;
}

#tabs {
	color: white;
	margin: 0 auto;
	list-style: none;
	width: 212.05px;
	border: 1px solid grey;
	border-radius: 3px;
	height: 30px;
	padding: 0;
	/* whoa */
	position: relative;
	top: 7px;
}

#tabs li {
	float: left;
	border-right: 1px solid grey;
	padding: 4.5px 7px;
	line-height: 21px;
}

#htmlTab, #resultsTab {
	background-color: #ffffff;
	color: #000000;
}

.clear {
	clear:both;
}

.container {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}

.container textarea {
	width: 100%;
	height: 100%;
	font-family: "Courier New", monospace;
}

iframe {
	position: relative;
	left: 20px;
	width: 95%;
	height: 100%;
}

.label {
	position: absolute;
	top: 10px;
	right: 10px;
}

#cssContainer, #jsContainer {
	display:none;
}
